<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hotyi.hotyi"
    android:versionCode="1"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取机型信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- 查看 Wi-Fi 状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 查看网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 控制振动器 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 防止设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- 获取联系人信息，demo中演示发送通讯录消息 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- ⼩米 配置开始 < -->
    <permission
        android:name="cn.rongcloud.im.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="cn.rongcloud.im.permission.MIPUSH_RECEIVE" />
    <!-- ⼩米 配置结束 < -->
    <!-- GCM 配置开始 < -->
    <permission
        android:name="cn.rongcloud.im.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="cn.rongcloud.im.permission.C2D_MESSAGE" />
    <!-- GCM 配置结束 < -->

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="com.hotyi.hotyi.FileProvider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/rc_file_path" />
    </provider>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="cn.rongcloud.im"
                    android:pathPrefix="/push_message"
                    android:scheme="rong" />
            </intent-filter>
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ConversationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.hotyi.hotyi"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegistNextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyProfitActivity"
            android:label="@string/title_activity_my_integral"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GameHubActivity"
            android:label="@string/title_activity_game_hub"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelfInfoActivity"
            android:label="@string/title_activity_self_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/title_activity_wxentry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyBaseActivity"
            android:label="@string/title_activity_my_base"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewFriendListActivity"
            android:label="@string/title_activity_new_friend_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyDialogActivity"
            android:label="@string/title_activity_my_dialog"
            android:screenOrientation="portrait"
            android:theme="@style/dialog" />
        <activity
            android:name=".activity.PrivateChatDetailActivity"
            android:label="@string/title_activity_private_chat_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupDetailActivity"
            android:label="@string/title_activity_group_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DiscussionDetailActivity"
            android:label="@string/title_activity_discussion_detail"
            android:screenOrientation="portrait" />

        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:process=":ipc" />
        <service android:name="io.rong.imlib.ReConnectService" />

        <receiver android:name="io.rong.imlib.ConnectChangeReceiver" />
        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc" />

        <activity
            android:name="io.rong.imkit.widget.provider.TakingPicturesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedBackActivity"
            android:label="@string/title_activity_feed_back"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyGameCircleActivity"
            android:label="@string/title_activity_my_game_circle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyActivityActivity"
            android:label="@string/title_activity_my_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyGameActivity"
            android:label="@string/title_activity_my_game"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyCodeActivity"
            android:label="@string/title_activity_my_code"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegistFinallyActivity"
            android:label="@string/title_activity_regist_finally"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserInfoDetailActivity"
            android:label="@string/title_activity_regist_finally"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupListActivity"
            android:label="@string/title_activity_group_list" />
        <activity
            android:name=".activity.MyGroupActivity"
            android:label="@string/title_activity_my_group" />
        <activity
            android:name=".activity.MyGuildActivity"
            android:label="@string/title_activity_my_guild" />
        //shareSDK
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="1f9cdda5e539b" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="b8200c70664deeb5a465588626514531" />
        //QQ登录
        <!-- QQ第三方登录相关       开始 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106256029" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- QQ第三方登录相关       结束 -->

        <activity
            android:name=".activity.ThirdLoginBindActivity"
            android:label="@string/title_activity_third_login_bind" />
        <activity
            android:name=".activity.SubConversationListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.hotyi.hotyi"
                    android:path="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GuildDetailActivity"
            android:label="@string/title_activity_guild_detail" />
        <activity
            android:name=".activity.GameListActivity"
            android:label="@string/title_activity_game_list" />
        <activity
            android:name=".activity.GameDetailInfoActivity"
            android:label="@string/title_activity_game_detail_info" />
        <activity
            android:name=".activity.GuildSimpleInfoActivity"
            android:label="@string/title_activity_guild_simple_info"
            android:theme="@style/guildTeme" />
        <activity
            android:name=".activity.SignActivity"
            android:label="@string/title_activity_sign" />
        <activity
            android:name=".activity.BaseUiActivity"
            android:label="@string/title_activity_base_ui" />
        <activity
            android:name=".activity.GuildMembersActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:label="@string/title_activity_guild_members"></activity>
    </application>

</manifest>